@import "~bootstrap/scss/bootstrap";
@import '~react-image-lightbox/style.css'; // This only needs to be imported once in your app


.with-topbar {
    padding-top: 70px;
}

.pointer {
    cursor: pointer;
}

.ArtistCard {

    img.artist {
        height: 300px;
        object-fit: cover;
    }

    .description {
        height: 180px;
    }

}

.ArtistDetail{
    img.artist {
        flex: 1;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    div.description {
        flex: 1;
    }

    .artwork-thumb {
        height: 240px;
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .artwork-info {
        font-size: 12px;
        height: 80px;
        text-align: center;
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }

}